.taskCard__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

.taskCard__container__card.iscompleted{
    background-color: #c6f5d8 !important;
    border-style: dashed;
}




.taskCard__container__card{
    position: relative;
    border: 1px solid;
    width: 40%;
    word-wrap: break-word;
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgb(243, 240, 236);
    box-shadow: 5px 5px 12px rgb(211, 215, 216);


    .taskDate{
        font-size: 0.8rem;
        color: grey;

    }

    .completed{
        font-weight: bold;
        color: rgb(2, 80, 2);
    }

    .taskCard__container__TaskcardInfo{
        text-decoration: line-through;
    }

    .category::before{
        content: '';
        width: 8px;
        height: 8px;
        margin: 5px;
        border-radius: 50%;
    }

    .category.personal::before {
        background-color:  rgb(255, 11, 11);
    }
    
    .category.work::before {
        background-color: #333333;
    }
    
    .category.home::before {
        background-color: #27ae60;
    }
    
    .category.finance::before {
        background-color: #ffd700;
    }

    .category.social::before {
        background-color: #ff5733;
    }

    .category.travel::before {
        background-color: #2980b9;
    }

    .category.school-study::before {
        background-color: rgb(134, 2, 134);
    }
    

    span{
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .taskCard__container__card__icon__top{
        display: flex;
        gap: 0.5rem;
        position: absolute;
        right: 5px;
        top:5px;
    }

    .taskCard__container__card__icon__bottom{
        display: flex;
        gap: 0.5rem;
        position: absolute;
        right: 5px;
        bottom:5px;

    }
}



@media screen and (max-width: 768px) {

    .taskCard__container__card{
        width: 100%;
    }
}