.tasKPane__container{
    border: 1px solid;
    width: 30%;
    background-color: white;
    display: none;
}


.tasKPane__container.openPane{
    display: block;
}


.tasKPane__container{
    padding: 0.2rem;

    svg{
        position: absolute;
        right: 10px;
        top: 30px;
        cursor: pointer;
    }

    form{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.5rem;

        input{
            padding: 0.5rem;
        }

        textarea{
            height: 200px;
            resize: none;
        }
    }

    label{
        display: block;
        font-size: 1.1rem;
        font-weight: bold;
    }
}